$main-blue: #2f637a;
$main-black: #000009;
$main-nav: #A9B2AC;
$alt-nav: #969E98;
$dark-nav: #878E89;
$white: #FFFFFF;
$main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.alert{
    font-family: $main-font;
}

.articlecontainer{
    font-family: $main-font;
    color: $main-black;

    a{
        text-align: left;
    }
    
    .articleauth{
        text-align: center;
        margin-bottom: 1em;
    }
    
    .articlecontent{
        font-size: 1em;
        margin: 1em;
        white-space: pre-wrap;
        text-align: left;
    }

    .articletitle{
        text-align: center;
        text-transform: capitalize;
        text-decoration-line: underline;
        margin-top: 1em;   
    }

    .comments{
        text-align: left;
        margin: 1em;
        white-space: pre-wrap;
        overflow-wrap: break-word;

        .btn {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }

        .form-control{
            width: auto;
        }
    }
}

.articleforms{
    font-family: $main-font;
    color: $main-black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;

    .btn{
        margin-top: 0;
        margin-right: 1em;
        margin-left: 0;
    }

    .form-control{
        width: auto;
    }

    .form-select{
        margin-left: 1em;
    }
}

.authforms{
    font-family: $main-font;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;

    .btn{
        margin: 0;
    }

    .form-control{
        width: auto;
    }
}

.btn{
    margin: 1em;

    a{
        color: $white;
    }
}

.container-fluid{
    padding: 0;
}

.dropdown-divider{
    border-top: 1px solid $main-black;
}

.dropdown-item:hover{
    background-color: $dark-nav;
}

.dropdown-menu{
    border: 2px solid $main-black;
    border-radius: 6px;
    background-color: $alt-nav;
}

.footer{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    background-color: $main-blue;
    padding-top: 2em;
    padding-left: 0;

    a{
        font-size: 1.2em;
        color: white;
        margin-bottom: 1em;
    }

    h3{
        font-family: $main-font;
        font-size: 1.5em;
        color: white;
    } 
}

.form-control-lg{
    padding-left: 0;
    padding-right: 0;
}

.header{
    font-family: $main-font;
    font-size: 2.7em;
    background-color: $main-blue;
    color: $white;
    padding-top: 1em;
    padding-left: 25px;
    margin-bottom: 0;
}

.home{
    padding-top: 3em;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $white;
    font-family: $main-font;
    color: $main-black;

    h2{
        text-transform: capitalize;
        text-align: center;
        text-decoration-line: underline; 
    }
 
    &par{
        margin-top: 0.5em;
        margin-bottom: 0;
        margin-right: 1em;
        margin-left: 0.3em;
        font-size: 1em;
    } 
}

.main{
    font-family: $main-font;
    text-align: center;
    margin-top: 1em;
    color: $main-black;

    .active {
        color: $main-blue;
    }

    .head{
        text-transform: capitalize;
    }

    &art{
        background-color: $alt-nav;
        border: 2px solid $main-black;
        color: $main-black;
        border-radius: 6px;
        margin-bottom: 6px;
        overflow-wrap: break-word;

        &:hover{
            color: $main-black;
            text-decoration: none;
            background-color: $dark-nav;
        }
    }

    .pages{
        margin: 0.3em;
        text-decoration: underline;
    }
}

.navbar{
    background-color: $main-nav;
    padding-left: 0;

    li{
        font-size: 2em;
        position: relative;
        padding: 5px;
        display: inline;
        margin-left: 25px;
        font-family: $main-font;
        text-transform: uppercase;
        color: $main-black;

        a{
            color: $main-black;
            text-decoration: none;

            &:active{
                color: $main-black;
                background-color: transparent;
            }
        }

        &:hover{
            color: $main-black;
            border: 2px solid $main-black;
            border-radius: 6px;
            padding: 3px;
            cursor: pointer;
        }
    }
    
    ul{
        list-style-type: none;
    }
}

.navbar-light{
    .navbar-brand{
        text-align: center;
        padding: 5px;
        font-size: 2em;
        position: relative;
        display: inline;
        margin-left: 25px;
        margin-right: 0;
        font-family: $main-font;
        text-transform: uppercase;
        color: $main-black;

        &:hover{
            border: 2px solid $main-black;
            border-radius: 6px;
            padding: 3px;
        }   

        &:visited{
            color: $main-black;
        }
    }
}

.username{
    text-align: center;
    background-color: $alt-nav;
    padding: 3px;
    font-size: 2em;
    margin-left: 25px;
    margin-bottom: 0;
    font-family: $main-font;
    color: $main-black;
    border: 2px solid $main-black;
    border-radius: 6px;
}